/* CSS untuk styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
section {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media query untuk tablet */
@media only screen and (max-width: 768px) {
    header {
        padding: 10px;
    }
    header img {
        width: 150px;
    }
    header h1 {
        font-size: 1.5em;
    }
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

/* Media query untuk smartphone */
@media only screen and (max-width: 480px) {
    header {
        padding: 5px;
    }
    header img {
        width: 100px;
    }
    header h1 {
        font-size: 1.2em;
    }
    nav ul li {
        display: block;
        margin-bottom: 5px;
    }
}